@font-face {
    font-family: 'solo'; /* Specify the name for your font */
    src: url('solo.ttf'); /* Specify the path to your font file */
}

body {
    font-family: 'solo'; /* Use the custom font as the main font */
    text-align: center; /* Center align content */
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
}

h1 {
    color: #00ff00; /* Set color of h1 text to green */
    font-size: 150px;
    margin-bottom: 50px; /* Adjust margin to create space between title and content */
}

.container {
    margin-top: 100px; /* Adjust vertical spacing */
}

.content-container {
    display: flex;
    justify-content: center; /* Center align content horizontally */
    align-items: center; /* Center align content vertically */
    margin-bottom: 50px;
}

.text {
    flex: 1;
    text-align: left; /* Align text to the left */
    padding: 0 20px; /* Add padding to create space between text and image */
    margin-left: 200px;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%; /* Make image responsive */
    width: 300px; /* Set the width of the image */
        height: 350px; /* Set the height of the image */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.button:hover {
    color: #00ff00; /* Change text color to green when hovering */
}
