@font-face {
    font-family: 'solo';
    src: url('solo.ttf');
}

body {
    font-family: 'solo';
    text-align: center;
    background-color: black;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* This allows images to wrap to the next line on smaller screens */
    gap: 85px; /* Add more space between images */
    margin-bottom: 50px;
}

.image {
    flex: 0 0 200px; /* Fixes the width of each image container */
    text-align: center;
}

.image img {
    width: 200px; /* Set the width of the images */
    height: 200px; /* Set the height of the images */
}

.image p {
    color: white;
    margin-top: 20px;
}

.image-inner {
    width: 200px; /* Set the width of the images */
    height: 160px; /* Set the height of the images */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-inner img{
    width: 140px; /* Set the width of the images */
    height: 140px; /* Set the height of the images */
}


a:hover .image p {
    color: #00ff00; /* Change text color to #00ff00 on hover */
}




/* Media query to ensure responsiveness on smaller screens */
@media (max-width: 768px) {
    .container {
        margin-top: 50px;
    }
    
    h1 {
        font-size: 100px;
    }

    .image-container {
        flex-direction: column; /* Stack images vertically */
    }

    .image {
        margin-bottom: 40px; /* Add more space between images */
    }
}

/* For tablets and smaller devices */
@media (max-width: 768px) {
    h1 {
        font-size: 15vw;
    }
    .image-inner {
        width: 100%; /* Set the width of the images */
    }
}

    /* For mobile phones */
@media (max-width: 480px) {
    h1 {
        font-size: 15vw;
    } 

    .image-inner {
        width: 100%; /* Set the width of the images */
    }
}
