@font-face {
    font-family: 'solo' ; 
    src: url('solo.ttf'); 
}

@font-face {
    font-family: 'akzidenz-grotesk' ; 
    src: url('akzidenz-grotesk.ttf'); 
}

body {
    font-family: 'solo';
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.text {
    flex: 1;
    text-align: left;
    padding: 0 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.text p {
    line-height: 140%;
    letter-spacing: 1px;
    /* font-family: arial; */
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.highlight {
    color: #00ff00; /* Change this to the color you want */
}


/* Media Queries */

/* For tablets and smaller devices */
@media (max-width: 768px) {
    h1 {
        font-size: 15vw;
    }
    .button {
        font-size: 5vw;
        padding: 8px 16px;
    }

    .content-container {
        flex-direction: column;
}
}

/* For mobile phones */
@media (max-width: 480px) {
    h1 {
        font-size: 20vw;
    }
    .button {
        font-size: 6vw;
        padding: 6px 12px;
    }
    .text {
        margin-left: 0;
        margin-right: 0;
    }
    .image {
        margin-top: 20px;
    }

    .content-container {
            flex-direction: column;
    }
}

